<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
</head>
<body>
  <div id="app">
    <!-- <div v-text="stock_data"></div> -->
    <div class="data_wrapper">
      <table class="alignment_wrapper">
        <tr>
          <td>Name: </td>
          <td class="column2">{{stock_data.companyName}}</td>
        </tr>
        <tr>
          <td>Symbol: </td>
          <td class="column2">{{stock_data.symbol}}</td>
        </tr>
        <tr>
          <td>Price: </td>
          <td class="column2">{{stock_data.latestPrice}}</td>
        </tr>
        <tr :class="{'red':!ispositive, 'green':ispositive}">
          <td>Percent Change: </td>
          <td class="column2">{{stock_data.changePercent}}</td>
        </tr>
        <tr :class="{'red':!ispositive, 'green':ispositive}">
          <td>Dollar Change: </td>
          <td class="column2">{{stock_data.change}}</td>
         </tr>
      </table>
    </div>
  </div>
  <script>
  new Vue({
    el: "#app",
    data: {
      stock_data: {}
    },
    computed: {
      ispositive() {
        return parseFloat(this.stock_data.change) >= 0;
      },
    },
    mounted(){
      const url = new URL(window.location.href);
      const symbol = url.searchParams.get("symbol").toLowerCase();
      console.log(symbol);
      this_ = this;
      axios.get(`https://api.iextrading.com/1.0/stock/${symbol}/quote`)
        .then(function (response) {
          this_.stock_data = response.data;
          // handle success
          console.log(response.data);
        })
    }
  })
  </script>
  <style>
    body {
      font-family: 'Roboto', sans-serif;
    }
    .data_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      flex-direction: column;

    }
    .alignment_wrapper {
      text-align: left;

    }

    table {
      font-family: "Roboto", sans-serif;
    }
    td {
      padding: 0.5rem;

    }

    .column2 {
      text-align: right;
    }

    .red {
      background-color: red;
      color: white;
      -webkit-font-smoothing: antialiased;

    }

     .green {
      background-color: green;
      color: white;
      -webkit-font-smoothing: antialiased;
      
    }
  </style>
</body>